<ion-content>
    <div class="logo">
        <img src="assets/logos/cafee_X-logos_black-crop.png">
    </div>
    <div class="login">
        LOGIN
    </div>
    <div class="fields">
        <div class="field d-flex align-center">
            <ion-icon class="start-icon" name="person" aria-hidden="true"></ion-icon>
            <ion-input placeholder="Username"></ion-input>
            <ion-icon class="end-icon" name="close-circle" aria-hidden="true"></ion-icon>
        </div>
        <div style="margin-top: 55px;" class="field d-flex align-center">
            <ion-icon class="start-icon" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-input placeholder="Password"></ion-input>
            <ion-icon class="end-icon" name="eye" aria-hidden="true"></ion-icon>
        </div>
    </div>
</ion-content>